server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/buddyquest
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
